
.subjects, .actions{
    margin: auto;
    padding: 0 12px;
}
@media (min-width: 576px) {
    .subjects, .actions {
      width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .subjects, .actions {
      width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .subjects, .actions {
      width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .subjects, .actions {
      width: 1140px;
    }
  }
  
  @media (min-width: 1400px) {
    .subjects, .actions {
      width: 1320px;
    }
  }

  